@media screen and (min-width: 800px) {

.site{
    display:grid;
    grid-template-columns: 1fr 2fr;
/*    grid-template-rows: auto 1fr 1fr 1fr;*/
    grid-auto-rows: auto repeat (3, 1fr);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
/*    background-color: #b1c1c0; */
    
/*      font-family: 'Oregano', cursive;*/
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
/*     color: #b8266d;*/
/*    color: orange;*/
}


header {
  height: 150vh;
  background-image: linear-gradient(
    to bottom, 
    rgba(253, 194, 216, 0.2), black), 
    url(bar1.jpeg);
  background-size: cover;
  background-position: center;
/*      text-align: center;*/
}

h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 60px;
    color: orange ;
/*
      color: #b8266d;
    border: 2px solid orange;
*/
}


h2 {
/*    background-color: orange;*/
    color: orange;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center !important;
}


aside {
    height: 150px;
    width: 40%;
    margin: auto;
    float: right;

}





.nav-div {
  background-color: #000;
  position: fixed;
  z-index: 1;
  width: 100%;
}



.nav {
  text-align: center;
}



.nav-list {
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
}

 


.nav-item {
  margin: 10px;
  display: inline-block;
}
  


.nav-link {
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}



.nav-link:hover{
  color: orange;
}



 
img {
  width: 45%;
  border-radius: 50%;
/*  border-radius: 500px;*/
  margin-bottom: 20px;
  transition: all .3s;
}

img:hover {
  transform: scale(1.1);
}


 
p {
  font-size: 16px;
    color: black;
    background-color: orange;
    
}



 
.row {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}

 
.row .col {
  width: 25%;
}



footer {
    text-align: center;
    height: 20px;
    clear: both;
    color: black;
}
    }
    




@media screen and (min-width: 1000px) {

.site{
    display:grid;
    grid-template-columns: 1fr 2fr;
/*    grid-template-rows: auto 1fr 1fr 1fr;*/
    grid-auto-rows: auto repeat (3, 1fr);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
/*    background-color: #b1c1c0; */
    
/*      font-family: 'Oregano', cursive;*/
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
/*     color: #b8266d;*/
/*    color: orange;*/
}


header {
  height: 150vh;
  background-image: linear-gradient(
    to bottom, 
    rgba(253, 194, 216, 0.2), black), 
    url(bar1.jpeg);
  background-size: cover;
  background-position: center;
/*      text-align: center;*/
}

h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 60px;
    color: orange ;
/*
      color: #b8266d;
    border: 2px solid orange;
*/
}


h2 {
/*    background-color: orange;*/
    color: orange;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center !important;
}


aside {
    height: 150px;
    width: 40%;
    margin: auto;
    float: right;

}





.nav-div {
  background-color: #000;
  position: fixed;
  z-index: 1;
  width: 100%;
}



.nav {
  text-align: center;
}



.nav-list {
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
}

 


.nav-item {
  margin: 10px;
  display: inline-block;
}
  


.nav-link {
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}



.nav-link:hover{
  color: orange;
}



 
img {
  width: 45%;
  border-radius: 50%;
/*  border-radius: 500px;*/
  margin-bottom: 20px;
  transition: all .3s;
}

img:hover {
  transform: scale(1.1);
}


 
p {
  font-size: 16px;
    color: black;
    background-color: orange;
    
}



 
.row {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}

 
.row .col {
  width: 25%;
}



footer {
    text-align: center;
    height: 20px;
    clear: both;
    color: black;
}
    }
 